* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #ccc;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item {
  background-color: #f1245d;
  padding: 30px;
  margin: 30px;
  font-size: 30px;
}

.i2 {
  height: 200px;
}

.i3 {
  align-self: flex-end;
  order: -1;
}
.i4 {
  order: -2;
}
