/* cross browser reset*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*root element*/
/*this is the superhack for using REMs for everything... this keeps with whatever the user has set as their default browser size, but now we're
working in sets of 10px... so 1rem now = 10px.*/
html {
  font-size: 62.5%;
}

/* since css works via inheritance, setting the definitions for the font stuff will let it cascade down into all the child elements */
body {
  box-sizing: border-box;
}
